[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-s3-folder-storage = "*"
python-decouple = "*"
collectfast = "*"
dj-database-url = "*"
pdfrw = "*"
reportlab = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
